<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Autofiller - Criação de novo campo</title>
</head>

<body>
  <div class="new-field-form">
    <input id="intFieldName" type="text" placeholder="Nome do campo">
    <input id="intFieldValue" type="text" placeholder="Valor">
    <input id="btnAddNewField" type="submit" value="Cadastrar">
  </div>
  <div id="fields">

  </div>

  <script src="../js/models/field.js"></script>
  <script src="../utils/storage.js"></script>
  <script src="../js/newField.js"></script>
</body>

</html>
